<div class="footer fixed-bottom">
  <div class="footer_content">
  		<div class="footer_content_details">
  			<p>Address: 14 Raymond Close, Sydenham, London, SE266DW</p>
  			<p class="hidden-xs">Email: elias.kuyela@kuukatechnologies.com</p>
  			<p>Number: 7521-414694</p>
  		</div>
  		<div class="footer_content_legal">
  			<p class="hidden-xs">Kuuka <i class="far fa-copyright"></i> All Rights Reserved</p>
  			<%= link_to "Privacy Policy" %>
  			<%= link_to "Terms & Conditions" %>
  		</div>
  </div>
  <div class="footer_social-media">
		<p class="hidden-xs">Follow us on Social Media:</p>
  		<div class="footer_social-media_icons">
	  		<%= link_to "/" do %>
				<i class="fab fa-facebook-square"></i>
	  		<% end %>
	  		<%= link_to "/" do %>
				<i class="fab fa-instagram"></i>
	  		<% end %>
	  		<%= link_to "/" do %>
				<i class="fab fa-twitter"></i>
	  		<% end %>	
	  		<%= link_to "/" do %>
				<i class="fab fa-youtube"></i>
	  		<% end %>
  		</div>
  		<p class="hoxton-link hidden-xs">Programmed & Designed by <%= link_to "Hoxton-Digital", "https://www.hoxton-digital.com", target: "_blank" %></p>
  </div>
</div>