<div class="footer fixed-bottom">
  <div class="footer_content">

  		<div class="footer_content_details">
  			<p><i class="fas fa-map-pin"></i> 14 Raymond Close, Sydenham, London, SE266DW</p>
  			<p><i class="far fa-envelope"></i> elias.kuyela@kuukatechnologies.com</p>
  			<p><i class="fas fa-phone"></i> +44 07521-414694</p>
  		</div>

  		<div class="footer_content_legal hidden-xs">
  			<p>Kuuka <i class="far fa-copyright"></i> All Rights Reserved</p>
  			<%= link_to "Privacy Policy" %>
  			<%= link_to "Terms & Conditions" %>
  		</div>

  </div>
  <div class="footer_social-media">
		<p class="hidden-xs">Follow us on Social Media:</p>
  		<div class="footer_social-media_icons">
	  		<%= link_to "https://www.facebook.com/kuukatech/" do %>
				<i class="fab fa-facebook-square"></i>
	  		<% end %>
	  		<%= link_to "https://www.instagram.com/kuukatech/?r=nametag" do %>
				<i class="fab fa-instagram"></i>
	  		<% end %>
	  		<%= link_to "https://www.linkedin.com/company/kuuka-technologies-limited" do %>
				<i class="fab fa-linkedin"></i>
	  		<% end %>
  		</div>
  </div>
  <div class="footer_hoxton">
      <span>Developed by |<%= link_to ' Hoxton Digital', 'https://www.hoxton-digital.com' %> <%= link_to '| London Web Development', 'https://www.hoxton-digital.com' %></span>
  </div>
</div>
