<% if mobile? %>  
<%= render 'mobile-about_us' %>
<% else %>
	<div class="about-us">
		<section class="about-us_section-one">
			<div class="about-us_section-one_left-part">
				<%= image_tag 'https://s3.eu-west-2.amazonaws.com/kuuka/images/kuuka_elias.png' %>
			</div>
			<div class="about-us_section-one_right-part">
				<h3>Our Founder</h3>
				<p>
					It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.<br><br> Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
				</p>
			</div>
		</section>
		<section class="about-us_section-two">
			<div class="about-us_section-two_left-part">
				<h3>3 Reasons To Exists</h3>
				<p>
					It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.<br><br> Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
				</p>
			</div>
			<div class="about-us_section-two_right-part">
				<%= image_tag 'https://s3.eu-west-2.amazonaws.com/kuuka/images/kuuka_about-us_icons.png' %>
			</div>
		</section>
		<section class="about-us_section-three">
			<div class="about-us_section-three_left-part">
				<%= image_tag 'https://s3.eu-west-2.amazonaws.com/kuuka/images/kuuka_about-us_icons3.png' %>
			</div>
			<div class="about-us_section-three_right-part">
				<h3>Current Status</h3>
				<p>
					It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.<br><br> Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
				</p>
			</div>
		</section>
		<section class="about-us_section-four">
			<p>Get in touch with us</p>
			<%= link_to "Here", contact_path %>
		</section>
	</div>
<% end %> 