<div class="home no-gutters">
	<section class="home_section-one">
		
		<header>
			<h3>Move your items on demand at your convenience</h3>
			<h4>Get moving costs instantly and for free</h4>
			<%= link_to 'Act Now', contact_path %>
			<span></span>
			<span class="hidden-xs"></span>
		</header>

	</section>
	<section class="home_section-two">
		<div>
			<h3>Who We Are</h3>
			<p>
			Kuuka Tech is a logistics platform providing freelance drivers and movers with business partners via a mobile services applications. It is committed to providing quality services with innovative technology. The company is connecting personal and business users with thousands drivers ranging from van and man to scooter and bicycle riders to solve real-time moving of goods needs.<br><br> Kuuka aims to provide a faster and more efficient service.  We look forward to working with more partners from different industries and in different fields. 
			</p>
			<%= link_to 'About Us', about_us_path %>
		</div>
	</section>
	<section class="home_section-three">
		<%= image_tag 'https://s3.eu-west-2.amazonaws.com/kuuka/images/home-icon-2.png'%>
		<%= image_tag 'https://s3.eu-west-2.amazonaws.com/kuuka/images/home-icon.png'%>
		<%= image_tag 'https://s3.eu-west-2.amazonaws.com/kuuka/images/home-icon3.png'%>
	</section>
	<section class="home_section-four">
		<div>
			<h3>3 Reasons Why We Exist</h3>
		</div>
		<div class="card-holder container">
			<div class="card col-xl-4 col-lg-4 col-md-4 ">
				<div class="card_one">
				</div>
				<p>Create and sustain a reliable platform to make logistics supply better.</p>
			</div>
			<div class="card">
				<div class="card_two col-xl-4 col-lg-4 col-md-4 ">
				</div>
				<p>Drive innovation through research & development (R&D) and new products.</p>
			</div>
			<div class="card">
				<div class="card_three col-xl-4 col-lg-4 col-md-4">
				</div>
				<p>To provide an efficient van hire platform</p>
			</div>
		</div>

	</section>
	<section class="home_section-five">
	  <p>We are expanding our community</p>
	  <p>stay in touch with us <%= link_to "here", contact_path %></p>
	</section>
</div>